

.container{
    border-radius: 5px;
    border-color: brown;
    background-color: rgb(114, 114, 139);
    width: 5cm;
    
   
}
.navbar{
    padding-top: 10px;
   
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:10px;
    background: #15172b;
    text-align: center;
    margin-left:5px;
}
.link{
  color: white;
  text-decoration: none;
}
.link:hover{
  color: red;
}
.link:active{
  background: grey;
}

.appointment{
  text-align: center;
}

.form{

    font-size: 10px;
    color: white;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 200px;
    padding: 20px;
    width: 320px;
    align-items: center;
}
.formcard{
  display: flex;
  justify-content: space-around;
}
.doctorCard{
  color: white;
  background-color: #15172b;
  padding: 10px;
  border-radius: 5px;
}
.doctorCard li{
  padding-bottom: 10px;
  text-align: left;

}
h1{
  color: rgb(159, 78, 48);
}
